table.archive{
     margin: 0;
     width: 100%;
     border-width: 0;
     border-spacing: 0;
     white-space: normal;
}

table.archive .active{
     background-color: #efcb69;
}

table.archive .active:hover{
     background-color: #4fafe8;
     cursor: pointer;
}

table.archive th, 
table.archive td{
     vertical-align: top;
     text-align: left;
     text-overflow: ellipsis;
}

table.archive td.mark{
  font-size: 19px;
  padding-top: 9px;
  padding-left: 5px;
  opacity: 0.65;

}
table.archive th.sticky{
     background-color: rgba(217, 217, 217,0.7);
     backdrop-filter: blur(4px);
     position: sticky;
     z-index: 999;
     top: 0;
}


table.archive .company td{
     padding-bottom: 30px;
     padding-top: 10px;
}

table.archive th, 
table.archive td{
     padding: 4px 0 4px 0;
}


table.archive thead td.video{
     padding: 0;
}


table.archive thead.video{
     line-height: 0;
}


table.archive tfoot tr td{
     padding-top: 60px;
     padding-bottom: 40px;
}

tr.work td.year {
  font-size: 9px;
}

.address{
opacity: 0.7;
}


.feature-wrap{
/*    background-color: grey;*/
     padding: 5px 0 20px 0;
    border-bottom: 2px solid rgba(0,0,0,0.8);

}
.feature{
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
/*    width: 700px;*/
/*    padding: 10px;*/
     padding: 10px 0;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.related{
    display: grid;
    max-width: 700px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
/*    width: 700px;*/
/*    padding: 10px;*/
     padding: 10px 0;
    border-radius: 3px;
    grid-template-columns: 1fr 1fr 1fr;
}




/* icon */

table.archive td.icon img{
     height: 10px;
     display: inline-block;
}

table.archive td.role{
     padding-right: 0;
}

table.archive td.icon{
     text-align: right;
}

table.archive td.year{
/*     text-align: center;*/
}


table.archive td.year,
table.archive td.company,
table.archive td.org,
table.archive td.project{
     padding-right: 20px;
}

table.archive td.icon{
     padding-right: 8px;
}

.nowrap{
     white-space: nowrap;
}


 @media (max-width: 950px){
}

 @media (max-width: 700px){
}
 