 @font-face {
     font-family: 'Heldane Reg';
     src: url('../fonts/heldane/test-heldane-text-regular.woff2') format('woff2');
}
 @font-face {
     font-family: 'Heldane Reg Ita';
     src: url('../fonts/heldane/test-heldane-text-regular-italic.woff2') format('woff2');
}
 @font-face {
     font-family: 'Heldane Med';
     src: url('../fonts/heldane/test-heldane-text-medium.woff2') format('woff2');
}
 @font-face {
     font-family: 'Heldane Bold';
     src: url('../fonts/heldane/test-heldane-text-bold.woff2') format('woff2');
}
 @font-face {
     font-family: 'tiempos-text-regular-italic';
     src: url('../fonts/tiempos/tiempos-text-regular-italic.woff2') format('woff2') 
}
 @font-face {
     font-family: 'tiempos-text-regular';
     src: url('../fonts/tiempos/tiempos-text-regular.woff2') format('woff2') 
}
 @font-face {
     font-family: 'tiempos-text-semibold';
     src: url('../fonts/tiempos/tiempos-text-semibold.woff2') format('woff2') 
}
 body{
     font-family: 'Heldane Reg', Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
     font-family: 'Spectral', serif;
}
 .h2{
     font-weight: 400;
}
 .intro{
     font-weight: 400;
     line-height: 1.35em;
}
 .lead{
     font-family: 'Heldane Med', serif;
     font-weight: 400;
}
 .nav{
     font-family: 'Heldane Med', serif;
     font-weight: 400;
}
 .smallcaps{
     /*font-family: 'Heldane Med', serif;*/
     font-family: 'Spectral SC', serif;
     font-weight: 600;

}
