.details {
  margin-top: 30px;
}

.h3{
  margin-top: 30px;
}


.h4{
  margin-top: 30px;
}


.tiles{
  margin-top: 30px;
}

.swatch{
  margin-top: 30px;
}
.blockquote + .cite{
	margin-top: 5px;
}


.header + .h1{
/*  background-color: pink;*/
  margin-top: 20px;

}


.blockquote{
	position: relative;
}
.blockquote:before {
  content: '“';
  position: absolute;
  left: -8px;
}
.blockquote:after {
  content: '”';
}


.blockquote,
.cite{
	display: block;
}